
#
# Vim droppings
#
*.swp

#
# OS/X file
#
.DS_Store

#
# Our data from the container
# 
splunk-data/

#
# Our inputs.conf is machine-generated.
#
splunk-app/default/inputs.conf

#
# This is a symlink for development
#
splunk-app/local



#
# Script generated prefs
#
user-prefs.conf

