
#
# Vim droppings
#
*.swp

#
# Our data from the container
# 
data/
splunk-data/

#
# Our inputs.conf is machine-generated.
#
splunk-app/default/inputs.conf

#
# Script generated prefs
#
user-prefs.conf

